<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.fields_for :songs, @song do |as| %>
    <%= as.label :name %>
    <%= as.text_field :name %>
 <% end %>
  <%= f.submit %>
<% end %>
